$watcherIndicatorSize: 18px;
$watcherActionSize: 14px;
$uploadBoxesSize: 50px;
$actionButtonSize: 25px;

/*File Upload Dialog Styling*/
#file-upload-dialog {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $sectionMenuOptions;
  width: 100%;
  max-width: 540px;
  max-height: 250px;
  display: none;
}
#file-upload-dialog-header {
  display: inline-flex;
  height: $uploadBoxesSize;
  font-size: $watcherIndicatorSize;
  background-color: darken($sectionMenuOptions, 10%);
  width: 100%;
}
#file-upload-dialog-header-title {
  margin: auto;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-left: 10px;
}
#file-upload-dialog-header-title:hover{
  opacity: 0.8;
  cursor: pointer;
}

#file-upload-dialog-minimize{
  padding:10px;
}

.file-upload-dialog-actions {
  //width: calc(#{$actionButtonSize} * 3);
  display: inline-flex;
  margin: auto;
  align-items: center;
  text-align: center;
  height: $uploadBoxesSize;
}

.file-upload-dialog-action {
  min-width: $actionButtonSize;
  padding: 0 5px;

  font-size: $watcherActionSize;
}

.file-upload-dialog-action svg,
i {
  margin: auto;
}


#file-upload-dialog-header-status {
  font-size: calc(#{$watcherIndicatorSize - 2px});
  min-width: $uploadBoxesSize;
  min-height: $uploadBoxesSize;
  max-width: $uploadBoxesSize;
  max-height: $uploadBoxesSize;
  display: flex;
}

#file-upload-dialog-status-icon {
  margin: auto;
}

.file-upload-dialog-status-error {
  margin-top: 10px;
}


#selected-files {
  max-height: 200px;
  overflow-y: scroll;
}
#selected-files::-webkit-scrollbar {
  width: 5px;
}
#selected-files::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: $defaultBorderRadius;
}
#selected-files::-webkit-scrollbar-thumb {
  border-radius: $defaultBorderRadius;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: lighten($sectionMenuOptions, 40%);
}
#selected-files::-webkit-scrollbar-thumb:hover {
  background-color: lighten($sectionMenuOptions, 50%);
}
/*File Watcher Styling*/
.file-watcher {
  width: 100%;
  display: inline-flex;
  height: 50px;
  overflow: hidden;
  word-wrap: break-word;
}
.file-watcher-progressbar {
  min-width: $uploadBoxesSize;
  min-height: $uploadBoxesSize;
  max-width: $uploadBoxesSize;
  max-height: $uploadBoxesSize;
  background-color: lighten($sectionMenuOptions, 20%);
}
.file-watcher-active {
  background-color: lighten($sectionMenuOptions, 10%);
}
.file-watcher-progressbar-fill {
  height: 100%;
  width: 0%;
  background: $successColor;
  display: flex;
  font-weight: bold;
  transition: width 0.22s;
  align-items: center;
}
.file-watcher-progressbar-fill-error {
  background: $errorColor;
}
.file-watcher-success {
  animation: file-watcher-fade 2s forwards;
}
.file-watcher-progressbar-text {
  color: $foreground;
  margin: 10px;
  font-size: $watcherIndicatorSize;
}

.file-watcher-name {
  margin: auto;
  overflow: hidden;
  word-wrap: break-word;
  padding-left: 10px;
  align-self: center;
  width:100%;
}
.file-watcher-action {
  width: calc(#{$uploadBoxesSize} / 2);
  height: $uploadBoxesSize;
  display: flex;
  font-weight: bold;
  align-items: center;
  padding: 0px 5px;
  float: right;
}
.file-watcher-action-icon {
  margin: auto;
  font-size: $watcherActionSize;
}
.file-watcher-action:hover {
  opacity: 0.8;
  cursor: pointer;
}
