$watcherIndicatorSize: 18px;
$watcherActionSize: 14px;
$uploadBoxesSize: 50px;
.file-watcher {
  width: 100%;
  display: inline-flex;
  background-color: $sectionMenuOptions;
  height: 50px;
}

.file-watcher-progressbar {
  min-width: $uploadBoxesSize;
  min-height: $uploadBoxesSize;
  max-width: $uploadBoxesSize;
  max-height: $uploadBoxesSize;
  background-color: lighten($sectionMenuOptions, 20%);
}

.file-watcher-active {
  background-color: lighten($sectionMenuOptions, 10%);
}

.file-watcher-progressbar-fill {
  height: 100%;
  width: 0%;
  background: $successColor;
  display: flex;
  font-weight: bold;
  transition: width 0.22s;
  align-items: center;
}
.file-watcher-progressbar-fill-error {
  background: $errorColor;
}

.file-watcher-progressbar-text {
  color: $foreground;
  margin: 10px;
  font-size: $watcherIndicatorSize;
}

.file-watcher-name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  max-height: $watcherIndicatorSize;
  word-wrap: break-word;
  overflow: hidden;
}

.file-watcher-name {
  margin: auto;
  overflow: hidden;
  padding-left: 10px;
  word-wrap: break-word;
  padding-right: 10px;
}

.file-watcher-action {
  width: calc(#{$uploadBoxesSize} / 2);
  height: $uploadBoxesSize;
  display: flex;
  font-weight: bold;
  align-items: center;
  padding: 0px 5px;
  float:right;
}

.file-watcher-action-icon {
  margin: auto;
  font-size: $watcherActionSize;
}

.file-watcher-action:hover {
  opacity: 0.9;
  cursor: pointer;
}
