//Imports everything through Navbar
.status-indicator-fail{
  position:absolute;
  width: 100%;
  animation: status-indicator-fail-transition 1.9s forwards;
  overflow: hidden;
}
.status-indicator-success{
  animation: status-indicator-success-transition 1.7s forwards;
  position:absolute;
  width: 100%;
  overflow: hidden;
}
