
.toast-notification {
  padding: 12px 20px;
  color: #fff;
  display: flex;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: $informationColor;
  border-radius: 2px;
  text-decoration: none;
  min-width: $toastMinWidth;
  max-width: $toastMaxWidth;
  z-index: 2147483647;
  word-wrap: break-word;
  float: right;
  position: absolute;
  top: 0;
  right: 0px;
  word-wrap: break-word;
  min-height: calc(#{$navBarHeight} - 24px);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.toast-notification:hover {
  opacity: 1;
}

.toast-notification-on {
  visibility: visible;
  opacity: 0.9;
}

.toast-notification-off {
  animation: toastify-notification-fade-out 0.6s forwards;
}

#toast-message {
  height: auto;
  margin: 0 auto;
  min-width: $toastMinWidth;
  max-width: $toastMaxWidth;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  cursor: pointer;
}

#toast-notification-close {
  font-size: 20px;
  height: 20px;
  opacity: 0.4;
}
#toast-notification-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.toast-success {
  background-color: $successColor;
}

.toast-error {
  background-color: $errorColor;
}
