@import "../colors";
@keyframes successTrans {
  0% {
        height: 100%;
        background-color:rgba(0,164,0,.75);
        color:(255,255,255,1);
    }
    100% {
        background-color:rgba(0,164,0,0.0);
        color:(255,255,255,0);
        height:0;
    }
}
@keyframes failTrans {
  0% {
        height: 100%;
        background-color: rgba(164,0,0,.75);
        color:(255,255,255,1);
    }
    100% {
        background-color:rgba(164,0,0,0.0);
        height:0;
        color:(255,255,255,0);
    }
}

.statusIndicatorFail{
  position:absolute;
  width: 100%;
  animation: failTrans 1.9s forwards;
  overflow: hidden;
}
.statusIndicatorSuccess{
  animation: successTrans 1.7s forwards;
  position:absolute;
  width: 100%;
  overflow: hidden;
}
