.file {
  display: flex;
  max-height: 4rem;
  height: 100%;
  max-width: 25em;
  padding: 0.4rem 0;
  width: 100%;
  align-self: flex-start;
}

.file-contents {
  position: relative;
  display: flex;
  background: $sectionMenuOptions;
  padding: 1rem;
  box-shadow: 1px 3px 2px $sectionMenuOptions;
  width: 100%;
}

.file-contents:hover {
  cursor: pointer;
  background: lighten($sectionMenuOptions, 3%);
}

.file-contents.highlight {
  background: $informationColor;
  box-shadow: 1px 3px 2px darken($informationColor, 20%);
}

.file-contents.highlight:hover {
  background: lighten($informationColor, 3%);
}

.file-info {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
}

.file-info-details {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 0.125rem 0;
  max-width: 39ch;
}

.file-subinfo-details {
  padding: 0 5px;
}
