@import "../global";
@include animation-breathe(
  $sectionMenuOptions,
  $foreground,
  $foreground,
  $informationColor
);
.links-wrapper {
  margin: 0 auto;
  display: block;
  border-collapse: separate;
  padding-top: $contentTopGap;
}
.links {
  display: block;
  flex: 1;
  text-align: center;
  padding-top: 25px;
  padding: $defaultBoxPadding;
}
.links ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
  border-radius: $defaultBorderRadius;
  background-color: $sectionBackground;
  max-width: $pageMaxWidth;
  min-width: $pageMinWidth;
  text-align: justify;
}
.file-actions {
  display: block;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
}

.links li {
  padding: 1px 40px;
}

.links a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: $foreground;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links i {
  padding-top: 10px;
}

.links a:hover {
  color: rgba($foreground, 0.9);
}
.file-date {
  float: right;
  padding-left: 14px;
  color: $foreground;
  font-size: 14px;
  margin-top: 7px;
}

.link-get {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}

.link-get:hover {
  text-shadow: none;
  background: $foreground -webkit-gradient(linear, 100% 0, 0 0, from($foreground), color-stop(0.5, $backgroundGradientStart), to($foreground));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: glowingShimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
}

.file-options {
  display: inline-block;
}

.file-options a {
  padding-left: 5px;
}

.link-download {
  padding-left: 10px;
}
.link-share {
  padding-left: 10px;
}
.link-delete {
  padding-left: 10px;
}

.filetype-toggle {
  padding-top: 10px;
}

.filetype-toggle a {
  padding: 5px 15px;
  background: $sectionMenuOptions;
  color: white;
  border: 0 none;
  text-decoration: none;
  font-size: 24px;
  line-height: 26px;
}
.filetype-toggle a:hover {
  animation: breathe 3s infinite;
}
#no-files-link {
  color: white;
  text-decoration: none;
  font-family: "Dejavu Sans";
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}
#no-files-link:hover {
  text-shadow: none;
  background: $foreground -webkit-gradient(linear, 100% 0, 0 0, from($foreground), color-stop(0.5, $backgroundGradientStart), to($foreground));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: glowingShimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
}
