/*Spacing*/
$contentTopGap: 50px;
/*Size*/
$pageMinWidth: 300px;
$pageMaxWidth: 780px;
$defaultBoxPadding: 15px;
/*Components*/
$navBarHeight: 4em;
$toastMinWidth: calc(#{$pageMinWidth} - 100px);
$toastMaxWidth: calc(50% - 20px);
/*Misc*/
$defaultBorderRadius: 2px;
