@import "global/colors", "global/fonts", "global/measurements",
  "global/animations";
@import "components/Navbar", "components/ToastNotification";
html {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100%;
  color: $foreground;
  background: #eee;
  background-size: cover;
  width: 100%;
}
body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 95%;
  text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
