.navbar {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba($sectionMenu, 1);
  width: 100%;
  display: inline-flex;
  height: $navBarHeight;
  z-index: 200;
}
.nav {
  margin: auto 0;
  display: inline-block;
  float: left;
}
.nav a {
  text-decoration: none;
  font-size: 20px;
  color: $foreground;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap;
}
.nav a:hover {
  text-shadow: none;
  background: $foreground -webkit-gradient(linear, 100% 0, 0 0, from($foreground), color-stop(0.5, $backgroundGradientStart), to($foreground));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: glowingShimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
}

.user-icon-container {
  margin-top: 6px;
}


.user-icon-container img {
  float: left;
  height: 40px;
  width: 40px;
  border: 2px solid $background;
  border-radius: 50%;
}
.user-icon-container img:hover {
  opacity: 0.7;
}
.user-display {
  float: left;
  display: block;
  padding: 0px 10px;
}
