@import "../index.scss";
//Imports "_colors.scss","../components/Topbar.scss"
.links-wrapper {
  margin: 0 auto;
  display: block;
  border-collapse: separate;
  padding-top:50px;
}

.links {
  display: block;
  flex: 1;
  text-align: center;
  padding-top:25px;
}
.links ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
  border-radius: 10px;
  background-color: $backgroundShade;
  min-width: 300px;
  max-width: 780px;
  text-align: justify;
}
.fileActions{
  display:block;
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
}

.links li {
  padding:1px 40px;
}

.links a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: $cornsilkLink;;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links i{
  padding-top:10px;
}

.links a:hover {
  color: $boldWhite;
}
.filedate{
  float:right;
  padding-left: 14px;
  padding-top: 13px;
  color: $cornsilkLink;;
  font-size:14px;
}

.getLink {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}

.getLink:hover{
  color: $dunemaskD;
}

.nemoFileOptions {
  display: inline-block;
}

.nemoFileOptions a {
  padding-left: 5px;
}

.downloadLink {
  padding-left: 10px;
}
.shareLink {
  padding-left: 10px;
}
.deleteLink {
  padding-left: 10px;
}

@keyframes fileTypeHover{
    0% {
        background-color: $backgroundShadeDarker;
        color: $boldWhite;
    }

    50% {
        color: $optionBlue;
        background-color: $boldWhite;
    }
    100% {
        background-color: $backgroundShadeDarker;
        color: $boldWhite;
    }
}
.filetype-toggle{
  padding-top:10px;
}

.filetype-toggle a{
  padding: 5px 15px;
  background: $backgroundShadeDarker;
  color:white;
  border: 0 none;
  text-decoration: none;
  font-size: 24px;
  line-height: 26px;
}
.filetype-toggle a:hover{
  animation: fileTypeHover 3s infinite;
}
#nofileslink{
  color:white;
  text-decoration: none;
  font-family: "Dejavu Sans";
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 36.3px;
}
#nofileslink:hover{
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from($fadedWhite), color-stop(0.5, $navShimmer), to($fadedWhite));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;

}
