@import "../global";
@include animation-breathe(
  $sectionMenuOptions,
  $foreground,
  $foreground,
  $successColor
);
#user-password-change {
  background-color: $sectionMenuOptions;
  display: inline-block;
  padding: $defaultBoxPadding;
  border-radius: $defaultBorderRadius;
  margin: $contentTopGap auto;
  min-width: $pageMinWidth;
  max-width: $pageMaxWidth;
}
.user-password-form {
  display: block;
}
.user-password-form-entry {
  text-align: right;
  padding: 1.5px 0px;
}
.password-change-submit-container input[type="submit"] {
  text-align: center;
  padding: 5px 15px;
  background: $sectionBackground;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin: 0 auto;
}
.password-change-submit-container input[type="submit"]:hover {
  animation: breathe 4s infinite;
}

.user-password-form-entry {
  padding: 10px 0px;
}

.user-password-form-entry label {
  font-size: 20px;
}

#submission-options {
  display: inline-flex;
}

.user-password-form-entry input[type="password"] {
  color: $foreground;
  border: 1px solid $sectionMenuOptions;
  border-radius: 5px;
  background-color: $sectionMenu;
  font-size: 20px;
  width: 170px;
  margin-left: 10px;
}
