@import "../global";
@include animation-breathe(
  $sectionMenuOptions,
  $foreground,
  $foreground,
  $successColor
);
.user-panel{
  margin:$contentTopGap auto;
  background-color: $sectionBackground;
  width:400px;
  height:480px;
  border-radius: $defaultBorderRadius;
}
.panel-icon-container{
  margin:auto;
  padding-top: 30px;
    pointer-events:all;
}
#panel-icon{
  margin-left: auto;
  margin-right: auto;
  pointer-events:all;
  width:150px;
  height:150px;
  border:5px solid $background;
  border-radius:50%;
}
#panel-icon:hover{
      opacity:0.8;
      cursor:pointer;
}
.panel-iconChange{
  height:50px;
  width:100px;
}

#image-upload{
  visibility:hidden;
  height:0px;
  width:0px;
}

#username-entry{
  font-size: 24px;
  color:$foreground;
  line-height: 30px;
  border:1px solid $sectionMenuOptions;
  border-radius: 5px;
  background-color:$sectionMenu;
  padding:10px;
  max-width: 330px;
}
.username-entry-container{
  padding:20px 0;
}
.username-entry-container h1{
  text-align: left;
}

#user-information-form input[type=submit], .user-information-form-actions a {
    padding: 5px 15px;
    background-color: $sectionMenuOptions;
    color:white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
    height:38px;
}

#user-information-form input[type=submit]:hover, .user-information-form-actions a:hover {
    animation: breathe 3s infinite;
}
.password-change-link{
  padding:5px;
}

.password-change-link a{
  text-decoration: none;
  font-size: 20px;
  color: $foreground;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap;
}

.password-change-link a:hover{
  text-shadow: none;
  background: $foreground -webkit-gradient(linear, 100% 0, 0 0, from($foreground), color-stop(0.5, $backgroundGradientStart), to($foreground));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: glowingShimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
    }

.user-information-form-actions{
  display:inline-block;
  padding-top:10px;
}

.user-information-form-action{
  padding:10px 0px;
}
