@import "../global";
@include animation-breathe(
  $sectionMenuOptions,
  $foreground,
  $foreground,
  $informationColor
);
.display-file {
  display: block;
  flex: 1;
  text-align: center;
  padding-top: 50px;
}
.display-file ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
  border-radius: $defaultBorderRadius;
  background-color: $sectionBackground;
  max-width: $pageMaxWidth;
  min-width: $pageMinWidth;
}
.file-actions {
  display: block;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
}

.display-file li {
  padding: 1px 40px;
}

.display-file a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: $foreground;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

.display-file i {
  padding-top: 10px;
}

.display-file a:hover {
  color: $foreground;
}
.file-date {
  float: right;
  padding-left: 14px;
  padding-top: 13px;
  color: $foreground;
  font-size: 14px;
}

.link-get {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}

.link-get:hover {
  color: rgba($foreground, 0.9);
}

.file-options {
  display: inline-block;
}

.file-options a {
  padding-left: 5px;
}

.link-download {
  padding-left: 10px;
}
.link-delete {
  padding-left: 10px;
}

.direct-share {
  padding-top: 20px;
  margin: 50px auto;
  background-color: $sectionBackground;
  width: 400px;
  height: 480px;
  border-radius: $defaultBorderRadius;
}

#user-share-field {
  font-size: 18px;
  color: $foreground;
  line-height: 18px;
  border: 1px solid $sectionMenuOptions;
  border-radius: $defaultBorderRadius;
  background-color: $sectionMenu;
  padding: 10px;
  max-width: 330px;
}

.user-share-container input[type="submit"] {
  padding: 5px 15px;
  background-color: $sectionMenuOptions;
  color: white;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: $defaultBorderRadius;
  border-radius: $defaultBorderRadius;
  font-size: 24px;
  text-decoration: none;
  height: 38px;
}

.user-share-container input[type="submit"]:hover {
  animation: breathe 3s infinite;
}
