@import "../global", "../components/FileWatcher";

@include animation-breathe(
  $sectionMenuOptions,
  $foreground,
  $foreground,
  $successColor
);
@include animation-bounce($informationColor, $foreground);

.upload-files-content {
  width: calc(100%);
  height: calc(100% - 40px);
  display: block;
}

.file-selection {
  border-radius: $defaultBorderRadius;
  background-color: $sectionBackground;
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
}
#file-drop-area {
  min-width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  z-index: 1000;
}
#file-drop-area.highlight {
  background-color: rgba($informationColor, 0.4);
  z-index: 1000;
}
.upload-button {
  display: inline-block;
  background: rgba(lighten($sectionMenuOptions, 10%), 0.8);
  cursor: pointer;
  margin: auto;
  border-radius: $defaultBorderRadius;
  padding: 15px;
  box-shadow: 1px 3px 2px $sectionMenuOptions;
}
.upload-button:hover {
  background: lighten($sectionMenuOptions, 20%);
}
#file-dropzone {
  display: none;
}

#fud-drag-drop-notification {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: none;
}
#fud-drag-drop-message {
  font-size: 18px;
  background: $informationColor;
  max-width: 400px;
  width: 100%;
  padding: 1.25rem;
  margin: auto;
  box-shadow: 1px 3px 2px $sectionMenuOptions;
}
