@import "../global", "../components/UploadCircle.scss";
@include animation-breathe(
  $sectionMenuOptions,
  $foreground,
  $foreground,
  $successColor
);
@include animation-bounce($informationColor, $foreground);
.file-selection {
  border-radius: $defaultBorderRadius;
  background-color: $sectionBackground;
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
}

.file-selection input[type="file"] {
  display: none;
}

.file-selection label {
  color: $foreground;
  line-height: 26px;
}
.file-select-button {
  padding-left: 20px;
}
.file-upload-button {
  padding-left: 20px;
}

.file-selection input[type="submit"] {
  padding: 5px 15px;
  background: $sectionMenuOptions;
  color: white;
  border: 0 none;
  cursor: pointer;
  font-size: 24px;
  line-height: 26px;
}

.file-selection input[type="submit"]:hover {
  animation: breathe 3s infinite;
}


.file-selection label:hover {
  cursor: pointer;
  animation: bounce 4s infinite;
}

#file-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
}
.file-selection-container {
  width: 100%;
}

.selected-file-container {
  padding-top: 20px;
  display: inline-block;
}
#lower-file-data {
  background-color: $sectionBackground;
  padding: 20px;
  border-radius: $defaultBorderRadius;
}

.upload-progress-bar {
  border: 2px solid $successColor;
}

.upload-progress-bar-fill {
  height: 100%;
  width: 0%;
  background: $successColor;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: width 0.22s;
}

.upload-progres-bar-text {
  color: $foreground;
}

.processing {
  display: inline-flex;
}
.loader-wrapper {
  padding-left: 10px;
  padding-top: 25px;
}
