@import "./global", "./components/FileUploadDialog", "./components/FileDrive";

.files {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 0 0.5rem;
  width: 100%;
  justify-content: center;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: $defaultBorderRadius;
}
*::-webkit-scrollbar-thumb {
  border-radius: $defaultBorderRadius;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: lighten($sectionMenuOptions, 40%);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: lighten($sectionMenuOptions, 50%);
}

#file-drop-area {
  position: fixed;
  height: 100%;
  margin-top: $navBarHeight;
  min-width: 100%;
  font-family: sans-serif;
  overflow: hidden;
}
#file-drop-area.highlight {
  background-color: rgba($informationColor, 0.4);
  z-index: 1000;
}

#file-dropzone {
  display: none;
}

#fud-drag-drop-notification {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: none;
  z-index: 1000;
}
#fud-drag-drop-message {
  font-size: 18px;
  background: $informationColor;
  max-width: 400px;
  width: 100%;
  padding: 1.25rem;
  margin: auto;
  box-shadow: 1px 3px 2px $sectionMenuOptions;
}
