/*Status Colors*/
/*Background & Foreground colors*/
/*Visual "components" (divs, etc)*/
/*Unique Components*/
/*$backgroundShade:rgba(23, 23, 23,0.8);
$backgroundShadeDarker:rgba(20, 20, 20,0.92);
$sectionHighlightDarker:rgba(30,30,30,.92);*/
/*$uploadLime:limegreen;
$sectionHighlight:#313131;
$boldWhite: white;
$fadedWhite:$boldWhite;
$background:#232323;
$navShimmer:#4c4c4c;
$dyingGrey:#4D493A;
$borderColor:#13120e;
$cornsilkLink:#e0e0e0;
$javaDownload:aliceblue;
$circleLetterHighlight:$fadedWhite;
$dunemaskD:#e20006;
$dunemaskDarker:rgba(199, 2, 7, 1);
$sliderColor:#2196F3;
$backgroundShade:rgba(23, 23, 23,0.8);
$backgroundShadeDarker:rgba(20, 20, 20,0.92);
$sectionHighlightDarker:rgba(30,30,30,.92);
$defaultBorderRadius:10px;
$optionBlue:#24a0ed;*/
@keyframes status-indicator-success-transition {
  0% {
    height: 100%;
    background-color: rgba(0, 164, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(0, 164, 0, 0);
    color: 255, 255, 255, 0;
    height: 0; } }

@keyframes status-indicator-fail-transition {
  0% {
    height: 100%;
    background-color: rgba(164, 0, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(164, 0, 0, 0);
    height: 0;
    color: 255, 255, 255, 0; } }

.status-indicator-fail {
  position: absolute;
  width: 100%;
  animation: status-indicator-fail-transition 1.9s forwards;
  overflow: hidden; }

.status-indicator-success {
  animation: status-indicator-success-transition 1.7s forwards;
  position: absolute;
  width: 100%;
  overflow: hidden; }
