/*Shimmer for links*/
@-webkit-keyframes glowingShimmer {
  0% {
    background-position: -4rem top;
    /*50px*/
  }
  70% {
    background-position: 12.5rem top;
    /*200px*/
  }
  100% {
    background-position: 12.5rem top;
    /*200px*/
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes toastify-notification {
  90%{
    opacity: 1;
  }
  99%{
    opacity:0;
  }
  100% {
    opacity:0;
    visibility: hidden;

  }

}

@mixin animation-breathe($b1, $b2, $f1, $f2) {
  @keyframes breathe {
    0% {
      background-color: $b1;
      color: $f1;
    }
    50% {
      background-color: $b2;
      color: $f2;
    }
    100% {
      background-color: $b1;
      color: $f1;
    }
  }
}
@mixin animation-bounce($f1, $f2) {
  @keyframes bounce {
    0% {
      color: $f1;
    }

    50% {
      color: $f2;
    }
    100% {
      color: $f1;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
