.navbar {
  background-color: rgba(23, 23, 23, 0.8);
  width: 100%;
  display: inline-block; }

.nav {
  line-height: 36px;
  padding: 24px 0px;
  display: inline-block;
  float: left; }

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap; }

.nav a:hover {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #4c4c4c), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  70% {
    background-position: 12.5rem top;
    /*200px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }

.user-icon-container {
  padding-top: 19px; }

#user-icon {
  float: left;
  height: 40px;
  width: 40px;
  border: 2px solid #232323;
  border-radius: 50%; }

#user-icon:hover {
  opacity: 0.7; }

.user-display {
  float: left;
  display: block;
  padding: 0px 10px; }

.user-control-container {
  margin-top: 65px;
  position: absolute;
  padding-left: 20px;
  max-width: 200px;
  z-index: 999; }

.login-links {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin: 0 0;
  border-collapse: separate;
  padding-right: 10px;
  padding: 10px 0px;
  background-color: rgba(30, 30, 30, 0.92);
  border-radius: 2px; }

.login-links ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none; }

.login-links li {
  margin: 0px;
  height: 100%;
  width: 100%;
  padding: 6px 12px;
  border: 0 none;
  text-align: justify;
  cursor: pointer; }

.login-links a {
  margin: 0px;
  text-decoration: none;
  color: white;
  font-size: 24px; }

.login-links a:hover,
.login-links a:focus {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #4c4c4c), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

h1 {
  font-family: "Dejavu Sans";
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700; }

h2, label {
  font-family: "Dejavu Sans";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700; }

h3 {
  font-family: "Dejavu Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700; }

p, a {
  font-family: "Dejavu Sans";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400; }

blockquote {
  font-family: "Dejavu Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: "Dejavu Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400; }

@keyframes status-indicator-success-transition {
  0% {
    height: 100%;
    background-color: rgba(0, 164, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(0, 164, 0, 0);
    color: 255, 255, 255, 0;
    height: 0; } }

@keyframes status-indicator-fail-transition {
  0% {
    height: 100%;
    background-color: rgba(164, 0, 0, 0.75);
    color: 255, 255, 255, 1; }
  100% {
    background-color: rgba(164, 0, 0, 0);
    height: 0;
    color: 255, 255, 255, 0; } }

.status-indicator-fail {
  position: absolute;
  width: 100%;
  animation: status-indicator-fail-transition 1.9s forwards;
  overflow: hidden; }

.status-indicator-success {
  animation: status-indicator-success-transition 1.7s forwards;
  position: absolute;
  width: 100%;
  overflow: hidden; }

html {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100%;
  color: white;
  background: linear-gradient(70deg, black 0%, #848486 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 95%;
  text-align: center; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.login-container {
  padding-top: 50px; }

.login-box {
  background-color: rgba(20, 20, 20, 0.92);
  display: inline-block;
  padding: 12px;
  border-radius: 10px; }

.login-form {
  padding-top: 30px;
  display: inline-block; }

.login-form-entry {
  text-align: left;
  padding: 1.5px 5px; }

#password-entry-label {
  padding-right: 8px; }

.login-form-submit-button {
  padding-top: 8px;
  padding-left: 64%; }

@keyframes bgcolor {
  0% {
    background-color: #4D493A;
    color: white; }
  50% {
    color: #232323;
    background-color: white; }
  100% {
    background-color: #4D493A;
    color: white; } }

input[type="submit"] {
  padding: 5px 15px;
  background: #4D493A;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 26px;
  color: white; }

input[type="submit"]:hover {
  animation: bgcolor 4s infinite; }
