/*Status Colors*/
/*Background & Foreground colors*/
/*Visual "components" (divs, etc)*/
/*Unique Components*/
/*$backgroundShade:rgba(23, 23, 23,0.8);
$backgroundShadeDarker:rgba(20, 20, 20,0.92);
$sectionHighlightDarker:rgba(30,30,30,.92);*/
/*$uploadLime:limegreen;
$sectionHighlight:#313131;
$boldWhite: white;
$fadedWhite:$boldWhite;
$background:#232323;
$navShimmer:#4c4c4c;
$dyingGrey:#4D493A;
$borderColor:#13120e;
$cornsilkLink:#e0e0e0;
$javaDownload:aliceblue;
$circleLetterHighlight:$fadedWhite;
$dunemaskD:#e20006;
$dunemaskDarker:rgba(199, 2, 7, 1);
$sliderColor:#2196F3;
$backgroundShade:rgba(23, 23, 23,0.8);
$backgroundShadeDarker:rgba(20, 20, 20,0.92);
$sectionHighlightDarker:rgba(30,30,30,.92);
$defaultBorderRadius:10px;
$optionBlue:#24a0ed;*/
h1 {
  font-family: "Dejavu Sans";
  font-size: 33px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700; }

h2, label {
  font-family: "Dejavu Sans";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700; }

h3 {
  font-family: "Dejavu Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700; }

p, a {
  font-family: "Dejavu Sans";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400; }

blockquote {
  font-family: "Dejavu Sans";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: "Dejavu Sans";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400; }

/*Spacing*/
/*Size*/
/*Components*/
/*Misc*/
/*Shimmer for links*/
@-webkit-keyframes glowingShimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  70% {
    background-position: 12.5rem top;
    /*200px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes toastify-notification-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes toast-notification-face-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9;
    visibility: visible; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: inline-block;
  height: 80px; }

.nav {
  line-height: 36px;
  padding: 24px 0px;
  display: inline-block;
  float: left; }

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 0px 4px;
  overflow: hidden;
  white-space: nowrap; }

.nav a:hover {
  text-shadow: none;
  background: white -webkit-gradient(linear, 100% 0, 0 0, from(white), color-stop(0.5, #141414), to(white));
  background-position: -4rem top;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: glowingShimmer;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; }

.user-icon-container {
  padding-top: 19px; }

#user-icon {
  float: left;
  height: 40px;
  width: 40px;
  border: 2px solid #141414;
  border-radius: 50%; }

#user-icon:hover {
  opacity: 0.7; }

.user-display {
  float: left;
  display: block;
  padding: 0px 10px; }

/**
 * Based On toastify.min.css from toastify-js
 */
.toast-notification {
  padding: 12px 20px;
  color: #fff;
  display: flex;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: #00b5f7;
  border-radius: 2px;
  text-decoration: none;
  min-width: calc(300px - 100px);
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  word-wrap: break-word;
  float: right;
  position: absolute;
  top: 0;
  right: 0px;
  word-wrap: break-word;
  min-height: calc(56px);
  overflow: hidden;
  opacity: 0;
  visibility: hidden; }

.toast-notification:hover {
  opacity: 1; }

.toast-notification-on {
  visibility: visible;
  opacity: 0.9; }

.toast-notification-off {
  animation: toastify-notification-fade-out 0.6s forwards; }

#toast-message {
  height: auto;
  margin: 0 auto;
  min-width: calc(300px - 100px);
  max-width: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  cursor: pointer; }

#toast-notification-close {
  font-size: 20px;
  height: 20px;
  opacity: 0.4; }

#toast-notification-close:hover {
  opacity: 0.6;
  cursor: pointer; }

.toast-success {
  background-color: limegreen; }

.toast-error {
  background-color: #e20006; }

html {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100%;
  color: white;
  background: linear-gradient(70deg, #141414 0%, #848486 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; }

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 95%;
  text-align: center; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

@keyframes breathe {
  0% {
    background-color: #292929;
    color: white; }
  50% {
    background-color: white;
    color: limegreen; }
  100% {
    background-color: #292929;
    color: white; } }

#user-password-change {
  background-color: rgba(20, 20, 20, 0.95);
  display: inline-block;
  padding: 15px;
  border-radius: 2px;
  margin: 50px auto;
  min-width: 300px;
  max-width: 780px; }

.user-password-form {
  display: block; }

.user-password-form-entry {
  text-align: right;
  padding: 1.5px 0px; }

.password-change-submit-container input[type="submit"] {
  text-align: center;
  padding: 5px 15px;
  background: #292929;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin: 0 auto; }

.password-change-submit-container input[type="submit"]:hover {
  animation: breathe 4s infinite; }

.user-password-form-entry {
  padding: 10px 0px; }

.user-password-form-entry label {
  font-size: 20px; }

#submission-options {
  display: inline-flex; }

.user-password-form-entry input[type="password"] {
  color: white;
  border: 1px solid #292929;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  width: 170px;
  margin-left: 10px; }
